@import 'scss';

.App {
	@extend %theme-root;

	@include look(def, true);
	height: 100%;
	display: grid;

	&Center {
		margin: auto;
		padding: 10px;
		border-radius: 10px;

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}

.ThemeSwitch {
	position: absolute;
	top: s(2);
	right: s(2);
	display: flex;
	align-items: center;
}

.BottomLine {
	font-size: v(font-s);
	position: absolute;
	right: s(2);
	bottom: s(2);
}
